@mixin MasterWidget {
    border: 1px solid #363A4F;
    border-radius: 10px;
}
.NavBar_Master {
    @include MasterWidget;
    padding: 2px 5px;
}

.workspaces {
    @include MasterWidget;
    padding: 5px;
}

.workspaces button {
    font-size: 14px;
    padding: 4px;
    padding-right: 8px;
}

.focused {
    color: #DE73FF;
}

.has-windows {
    color: #4AA5F0;
}

.empty {
    background-color: transparent;
    &:hover {
        background-color: #3D4156;
    }
    &:active {
        color: #9575CD;
    }
}
.mpris_button{
    @include MasterWidget();
    background-color: transparent;
}
.navbar_label{
    @include MasterWidget;
    padding: 1px 10px; 
    font-size: 16px;
}