.NavBar_Master {
    border: 1px solid #363A4F;
    border-radius: 10px;
    padding: 2px 5px;
}

.workspaces {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #363A4F;
}

.workspaces button {
    font-size: 14px;
    padding: 4px;
    padding-right: 8px;
}