:root {
    --master-border-radius: 5px;
}

$master-border-radius: var(--master-border-radius);

$accent-color: #{"var(--accent-color)"};
$accent-bg-color: #{"var(--accent-bg-color)"};
$accent-fg-color: #{"var(--accent-fg-color)"};
$destructive-color: #{"var(--destructive-color)"};
$destructive-bg-color: #{"var(--destructive-bg-color)"};
$destructive-fg-color: #{"var(--destructive-fg-color)"};
$success-color: #{"var(--success-color)"};
$success-bg-color: #{"var(--success-bg-color)"};
$success-fg-color: #{"var(--success-fg-color)"};
$warning-color: #{"var(--warning-color)"};
$warning-bg-color: #{"var(--warning-bg-color)"};
$warning-fg-color: #{"var(--warning-fg-color)"};
$error-color: #{"var(--error-color)"};
$error-bg-color: #{"var(--error-bg-color)"};
$error-fg-color: #{"var(--error-fg-color)"};
$window-bg-color: #{"var(--window-bg-color)"};
$window-fg-color: #{"var(--window-fg-color)"};
$view-bg-color: #{"var(--view-bg-color)"};
$view-fg-color: #{"var(--view-fg-color)"};
$headerbar-bg-color: #{"var(--headerbar-bg-color)"};
$headerbar-fg-color: #{"var(--headerbar-fg-color)"};
$headerbar-border-color: #{"var(--headerbar-border-color)"};
$headerbar-backdrop-color: #{"var(--headerbar-backdrop-color)"};
$headerbar-shade-color: #{"var(--headerbar-shade-color)"};
$card-bg-color: #{"var(--card-bg-color)"};
$card-fg-color: #{"var(--card-fg-color)"};
$card-shade-color: #{"var(--card-shade-color)"};
$dialog-bg-color: #{"var(--dialog-bg-color)"};
$dialog-fg-color: #{"var(--dialog-fg-color)"};
$popover-bg-color: #{"var(--popover-bg-color)"};
$popover-fg-color: #{"var(--popover-fg-color)"};
$shade-color: #{"var(--shade-color)"};
$scrollbar-outline-color: #{"var(--scrollbar-outline-color)"};
$borders-color: #{"var(--borders)"};

$blue-1: #{"var(--blue-1)"};
$blue-2: #{"var(--blue-2)"};
$blue-3: #{"var(--blue-3)"};
$blue-4: #{"var(--blue-4)"};
$blue-5: #{"var(--blue-5)"};

$green-1: #{"var(--green-1)"};
$green-2: #{"var(--green-2)"};
$green-3: #{"var(--green-3)"};
$green-4: #{"var(--green-4)"};
$green-5: #{"var(--green-5)"};

$yellow-1: #{"var(--yellow-1)"};
$yellow-2: #{"var(--yellow-2)"};
$yellow-3: #{"var(--yellow-3)"};
$yellow-4: #{"var(--yellow-4)"};
$yellow-5: #{"var(--yellow-5)"};

$orange-1: #{"var(--orange-1)"};
$orange-2: #{"var(--orange-2)"};
$orange-3: #{"var(--orange-3)"};
$orange-4: #{"var(--orange-4)"};
$orange-5: #{"var(--orange-5)"};

$red-1: #{"var(--red-1)"};
$red-2: #{"var(--red-2)"};
$red-3: #{"var(--red-3)"};
$red-4: #{"var(--red-4)"};
$red-5: #{"var(--red-5)"};

$purple-1: #{"var(--purple-1)"};
$purple-2: #{"var(--purple-2)"};
$purple-3: #{"var(--purple-3)"};
$purple-4: #{"var(--purple-4)"};
$purple-5: #{"var(--purple-5)"};

$brown-1: #{"var(--brown-1)"};
$brown-2: #{"var(--brown-2)"};
$brown-3: #{"var(--brown-3)"};
$brown-4: #{"var(--brown-4)"};
$brown-5: #{"var(--brown-5)"};

$light-1: #{"var(--light-1)"};
$light-2: #{"var(--light-2)"};
$light-3: #{"var(--light-3)"};
$light-4: #{"var(--light-4)"};
$light-5: #{"var(--light-5)"};

$dark-1: #{"var(--dark-1)"};
$dark-2: #{"var(--dark-2)"};
$dark-3: #{"var(--dark-3)"};
$dark-4: #{"var(--dark-4)"};
$dark-5: #{"var(--dark-5)"};