@import "Colors";

.mpris_window {
    all: unset;
}

.mpris_master_box {
    background-color: transparentize(#282C34, 0.2);
    border-radius: $master-border-radius;
    border: 1px solid #363A4F;
    min-width: 270px;
    min-height: 150px;
    padding: 10px;
}

.mpris_media_info {

    & .player_name_label {
        color: $light_3;
        font-weight: bold;
        font-size: 0.8em;
    }

    & .title_label {
        color: $light_2;
        font-weight: bold;
        font-size: 1.2em;
    }

    & .artist_label {
        color: $light_3;
        font-weight: bold;
        font-size: 1.0em;
    }
}

.mpris_slider {
    border-radius: 5px;
    padding: 5px;

    & trough {
        padding: 0;
        min-height: 10px;

        & highlight {
            background-color: $accent_color;
        }

        & slider {
            all: unset;
        }
    }
}

.mpris_time_label {
    color: $light_3;
    min-width: 2.5em;
}