@use "Colors";
@use "adw";

.workspaces button {
    font-size: 16px;
    padding-right: 5px;
    transition: all .2s ease-in-out;
}

.has_windows,
.occupied {
    color: adw.$green_5;
}

.empty {
    color: adw.$dark_1;
}

.focused {
    color: adw.$accent_color;
}

.nav_bar_label {
    font-size: 16px;
}