@use "adw";

.workspaces button {
    font-size: 16px;
    padding-right: 5px;
    transition: all .2s ease-in-out;
}

.occupied {
    color: adw.$green_5;
}

.empty {
    color: adw.$dark_1;
}

.focused {
    color: adw.$accent_color;
}

.tray_button {
    button {
        image {
            transition: all 0.2s ease-in-out;
            transform: rotate(0deg);
        }

        &:checked image {
            transform: rotate(180deg);
        }
    }
}