@use "adw";

.notification_badge {
    &.critical {
        label.app_name {
            color: adw.$red-1;
        }

        separator {
            color: adw.$red-1;
        }
    }

    &.normal {
        label.app_name {
            color: adw.$blue-1;
        }

        separator {
            color: adw.$blue-1;
        }
    }

    &.low {
        label.app-name {
            color: adw.$green-1;
        }

        separator {
            color: adw.$green-1;
        }
    }
}