@use "Colors";
@use "adw";

.notification_badge {
    &.critical {
        label.app_name {
            color: adw.$red_5;
        }

        separator {
            color: adw.$red_5;
        }
    }

    &.normal {
        label.app_name {
            color: adw.$blue_5;
        }

        separator {
            color: adw.$blue_5;
        }
    }

    &.low {
        label.app_name {
            color: adw.$green_5;
        }

        separator {
            color: adw.$green_5;
        }
    }
}