@use "adw";

.osd_slider {
    min-width: 250px;

    & trough {
        background-color: adw.$window-bg-color;
        color: adw.$window-fg-color;
        border-radius: adw.$master-border-radius;
        padding: 0;
        min-height: 30px;

        & progress {
            background-color: adw.$accent-color;
            border-radius: adw.$master-border-radius;
            min-height: 30px;
            transition: all 1s ease-in-out;
        }

    }
}

.osd_icon {
    color: #000;
}