@import "Colors";

.quick_settings_window {
    all: unset;
    // background-color: #f0f;
}

.quick_settings_grid_box {
    background-color: transparentize(#282C34, 0.2);
    border-radius: $master-border-radius;
    border: 1px solid $dark_2;
    padding: 10px;
}


.quick_settings_button {
    background-color: $dark_4;
    border-radius: $master-border-radius;
    border: 1px solid $dark_2;
    min-height: 60px;
    min-width: 100px;

    & button {
        border-radius: 0;
    }

    &-active {
        background-color: $accent_color;
        transition: background-color ease-in-out 300ms;

        & button {
            &:hover {
                border-radius: $master-border-radius;
                background-color: #d78aee;
            }
        }
    }
}