@use "adw";


.qs_grid {
    & button {
        border-radius: unset;
    }

    &-active {
        transition: background-color ease-in-out 300ms;

        & button {
            background-color: adw.$accent_bg_color;

            &:hover {
                background-color: adw.$accent_hover_color;
            }
        }
    }
}

.active_profile_button {
    & label {
        color: adw.$accent_color;
    }
}