@import "Colors";

.runner_window {
    all: unset;
}

.runner_master_box {
    background-color: $window_bg_color;
    border-radius: $master-border-radius;
    @include MasterBorder;
    padding: 10px;
    min-width: 555px;
}

.boxed-list {
    background-color: transparent;
    padding: 10px;
}

.runner_button {
    padding: 10px;
    background-color: $accent_fg_color;
    margin: 5px 0;
    border-radius: $master-border-radius;
}