@use "Colors";
@use "adw";

.quick_settings_window {
    all: unset;
}

.quick_settings_grid_box {
    background-color: adw.$window_bg_color;
    border-radius: Colors.$master-border-radius;
    @include Colors.MasterBorder;
    padding: 10px;
}

.quick_settings_frame_profile_image {
    border-radius: Colors.$master-border-radius;
}

.quick_settings_button {
    @include Colors.MasterBorder;
    border-radius: Colors.$master-border-radius;
    min-height: 60px;
    min-width: 100px;


    & .quick_settings_button_main {
        border-radius: unset;
        border-top-left-radius: Colors.$master-border-radius;
        border-bottom-left-radius: Colors.$master-border-radius;
    }

    & .quick_settings_button_extras {
        border-radius: unset;
        border-top-right-radius: Colors.$master-border-radius;
        border-bottom-right-radius: Colors.$master-border-radius;
    }

    &-active {
        transition: background-color ease-in-out 300ms;

        & button {
            background-color: adw.$accent_bg_color;

            &:hover {
                background-color: adw.$accent_color;
            }
        }
    }
}