@import "Colors";

.StatusBar_Master {
    background-color: $window_bg_color;
    min-height: 50px;
    border-radius: $master-border-radius;
    padding: 0 5px;
}

.statusbar_box {
    margin: 5px 0;
    background-color: $accent_fg_color;
    @include MasterBorder;
    border-radius: $master-border-radius;
    padding: 0 10px;
}

.workspaces button {
    font-size: 16px;
    padding-right: 5px;
    transition: all .2s ease-in-out;
}

.focused {
    color: $accent_color;
}

.has-windows {
    color: $green_5;
}

.empty {
    color: $dark_1;
}

.StatusBar_label {
    font-size: 16px;
}

.battery_levelbar {
    & trough {
        color: #f0f;
        padding: 0;
        min-height: 10px;

        &.filled {
            color: #f0f;
            background-color: #f0f;
        }

        &.empty {
            color: #f00;
            background-color: #f00;
        }
    }
}