@import "Colors";

.StatusBar_Master {
    background-color: transparentize(#282C34, 0.2);
    min-height: 50px;
    border-radius: $master-border-radius;
    padding: 0 5px;
}

.statusbar_box {
    margin: 5px 0;
    background-color: $dark_4;
    border: 1px solid #363A4F;
    border-radius: $master-border-radius;
    padding: 0 10px;
}

.workspaces button {
    font-size: 16px;
    padding-right: 5px;
}

.focused {
    color: $accent_color;
}

.has-windows {
    color: $orange_3;
}

.empty {
    color: $dark_1;
}

.StatusBar_label {
    font-size: 16px;
}