@use "Colors";
@use "adw";

.StatusBar_Master {
    background-color: adw.$window_bg_color;
    min-height: 50px;
    border-radius: Colors.$master-border-radius;
    padding: 0 5px;
}

.statusbar_box {
    margin: 5px 0;
    @include Colors.MasterBorder;
    border-radius: Colors.$master-border-radius;
    padding: 0 10px;
}

.workspaces button {
    font-size: 16px;
    padding-right: 5px;
    transition: all .2s ease-in-out;
}

.focused {
    color: adw.$accent_color;
}

.has-windows {
    color: adw.$green_5;
}

.empty {
    color: adw.$dark_1;
}

.StatusBar_label {
    font-size: 16px;
}

.notif_count_label {
    border: 1px solid adw.$dark_3;
    min-width: 1em;
    margin-right: -5px;
    padding: 1px;
    border-radius: 25px;
}