@use "Colors";
@use "adw";
@use "StatusBar";
@use "Mpris";
@use "SideDashboard";
@use "Runner";
@use "OnScreenDisplay";
@use "Notif";

button {
    background-color: transparent;

    &:hover {
        background-color: adw.$dark_2;
    }
}

.morghulis_slider {
    border-radius: 5px;
    padding: 5px;

    & trough {
        padding: 0;
        min-height: 10px;

        & highlight {
            background-color: adw.$accent_color;
        }

        & slider {
            all: unset;
        }
    }
}

.morghulis_vertical_slider {
    border-radius: 5px;
    padding: 5px;

    & trough {
        padding: 0;
        min-width: 10px;

        & highlight {
            background-color: adw.$accent_color;
        }

        & slider {
            all: unset;
        }
    }
}