@import "Colors";
@import "StatusBar";
@import "Mpris";

button {
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: $dark_2;
    }
}